<%- include('layout/header') %>

    <div class="max-w-3xl mx-auto py-6">
        <h1 class="text-2xl font-bold mb-4">Applicant List</h1>

        <div class="bg-white rounded shadow overflow-hidden">
            <table class="min-w-full">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email
                        </th>
                       
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    <% if (applicants && applicants.length> 0) { %>
                        <% applicants.forEach(applicant=> { %>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <%= applicant.firstName %>
                                    <%= applicant.lastName %>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <%= applicant.email %>
                                </td>
                            </tr>
                            <% }); %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="3" class="text-center py-4">No applicants found</td>
                                    </tr>
                                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="mt-48"></div>
    </div>

    <%- include('layout/footer') %>